@import "//cloud.typography.com/671958/803146/css/fonts.css";

@mixin font-narrow {
	font-family: 'Tungsten A', 'Tungsten B';
	font-weight: 400;
	font-style: normal;
}

@mixin font-wide {
	font-family: 'Numbers Claimcheck A', 'Numbers Claimcheck B';
	font-weight: 400;
	font-style: normal;
}
body {
	@include font-narrow;
	color: #E8FDFF;
	background: #3F7CAC;

	min-height: 340px;
}

article {
	width: 300px;
	height: 340px;
	position: absolute;
	top: 50%;
	left: 50%;

	margin: -170px 0 0 -150px;

	text-align: center;
}

h1 {
	font-size: 48px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1;

	margin: 0 0 20px;
}

.tiempo {
	float: left;
	width: 50%;
	margin: 0 0 20px;
}
.unidad {
	@include font-narrow;

	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 4px;
	line-height: 1;
}
.valor {
	@include font-wide;

	font-size: 64px;
	text-align: center;
	line-height: 1;
}

@media screen and (min-width: 600px) {
	body {
		min-height: 160px;
	}
	article {
		width: 510px;
		margin-left: -255px;
	}
	.tiempo {
		width: 25%;
	}
}
